name: CI

on:
  pull_request:
  push:
    branches:
      - master
      - develop
      - feature/**
      - fix/**
    paths-ignore:
      - LICENSE
      - meta/**
      - README.md

jobs:
  posix:
    strategy:
      fail-fast: false
      matrix:
        include:
          - toolset: gcc-4.9
            cxxstd: "11" 
            container: ubuntu:16.04
            os: ubuntu-latest
            install: g++-4.9-multilib            
            address-model: 32,64
          - toolset: gcc-5
            cxxstd: "11,14,1z"
            container: ubuntu:18.04
            os: ubuntu-latest
            install: g++-5-multilib
            address-model: 32,64
          - toolset: gcc-6
            cxxstd: "11,14,1z"
            container: ubuntu:18.04
            os: ubuntu-latest
            install: g++-6-multilib
            address-model: 32,64
          - toolset: gcc-7
            cxxstd: "11,14,17"
            container: ubuntu:20.04
            os: ubuntu-latest
            install: g++-7-multilib
            address-model: 32,64
          - toolset: gcc-8
            cxxstd: "11,14,17,2a"
            container: ubuntu:20.04
            os: ubuntu-latest
            install: g++-8-multilib
            address-model: 32,64
          - toolset: gcc-9
            cxxstd: "11,14,17,2a"
            container: ubuntu:20.04
            os: ubuntu-latest
            install: g++-9-multilib
            address-model: 32,64
          - toolset: gcc-10
            cxxstd: "11,14,17,2a"
            os: ubuntu-22.04
            install: g++-10-multilib
            address-model: 32,64
          - toolset: gcc-11
            cxxstd: "11,14,17,20"
            os: ubuntu-22.04
            install: g++-11-multilib
            address-model: 32,64
          - toolset: gcc-12
            cxxstd: "11,14,17,20,2b"
            os: ubuntu-22.04
            install: g++-12-multilib
            address-model: 32,64
          - toolset: gcc-13
            cxxstd: "11,14,17,20,2b"
            os: ubuntu-24.04
            install: g++-13-multilib
            address-model: 32,64
          - toolset: gcc-14
            cxxstd: "11,14,17,20,2b"
            os: ubuntu-24.04
            install: g++-14-multilib
            address-model: 32,64
          - toolset: gcc-15
            cxxstd: "11,14,17,20,23,2c"
            os: ubuntu-latest
            container: ubuntu:25.04
            install: g++-15-multilib
            address-model: 32,64
          - toolset: clang
            compiler: clang++-3.5
            cxxstd: "11"
            os: ubuntu-latest
            container: ubuntu:16.04
            install: clang-3.5
          - toolset: clang
            compiler: clang++-3.6
            cxxstd: "11,14"
            os: ubuntu-latest
            container: ubuntu:16.04
            install: clang-3.6
          - toolset: clang
            compiler: clang++-3.7
            cxxstd: "11,14"
            os: ubuntu-latest
            container: ubuntu:16.04
            install: clang-3.7
          - toolset: clang
            compiler: clang++-3.8
            cxxstd: "11,14"
            os: ubuntu-latest
            container: ubuntu:16.04
            install: clang-3.8
          - toolset: clang
            compiler: clang++-3.9
            cxxstd: "11,14"
            os: ubuntu-latest
            container: ubuntu:18.04
            install: clang-3.9
          - toolset: clang
            compiler: clang++-4.0
            cxxstd: "11,14"
            os: ubuntu-latest
            container: ubuntu:18.04
            install: clang-4.0
          - toolset: clang
            compiler: clang++-5.0
            cxxstd: "11,14"
            os: ubuntu-latest
            container: ubuntu:18.04
            install: clang-5.0
          - toolset: clang
            compiler: clang++-6.0
            cxxstd: "11,14,17"
            os: ubuntu-latest
            container: ubuntu:18.04
            install: clang-6.0
          - toolset: clang
            compiler: clang++-7
            cxxstd: "11,14,17"
            os: ubuntu-latest
            container: ubuntu:18.04
            install: clang-7
          - toolset: clang
            compiler: clang++-8
            cxxstd: "11,14,17"
            container: ubuntu:20.04
            os: ubuntu-latest
            install: clang-8
          - toolset: clang
            compiler: clang++-9
            cxxstd: "11,14,17,2a"
            container: ubuntu:20.04
            os: ubuntu-latest
            install: clang-9
          - toolset: clang
            compiler: clang++-10
            cxxstd: "11,14,17,2a"
            container: ubuntu:20.04
            os: ubuntu-latest
            install: clang-10
          - toolset: clang
            compiler: clang++-11
            cxxstd: "11,14,17,2a"
            container: ubuntu:20.04
            os: ubuntu-latest
            install: clang-11
          - toolset: clang
            compiler: clang++-12
            cxxstd: "11,14,17,20"
            container: ubuntu:20.04
            os: ubuntu-latest
            install: clang-12
          - toolset: clang
            compiler: clang++-13
            cxxstd: "11,14,17,20,2b"
            container: ubuntu:22.04
            os: ubuntu-latest
            install: clang-13
          - toolset: clang
            compiler: clang++-14
            cxxstd: "11,14,17,20,2b"
            container: ubuntu:22.04
            os: ubuntu-latest
            install: clang-14
          - toolset: clang
            compiler: clang++-15
            cxxstd: "11,14,17,20,2b"
            container: ubuntu:22.04
            os: ubuntu-latest
            install: clang-15
          - toolset: clang
            compiler: clang++-16
            cxxstd: "11,14,17,20,2b"
            container: ubuntu:24.04
            os: ubuntu-latest
            install: clang-16
          - toolset: clang
            compiler: clang++-17
            cxxstd: "11,14,17,20,2b"
            container: ubuntu:24.04
            os: ubuntu-latest
            install: clang-17
          - toolset: clang
            compiler: clang++-18
            cxxstd: "11,14,17,20,2b"
            container: ubuntu:24.04
            os: ubuntu-latest
            install: clang-18
          - toolset: clang
            compiler: clang++-19
            cxxstd: "11,14,17,20,23,2c"
            container: ubuntu:24.04
            os: ubuntu-latest
            install: clang-19
          - toolset: clang
            compiler: clang++-20
            cxxstd: "11,14,17,20,23,2c"
            container: ubuntu:25.04
            os: ubuntu-latest
            install: clang-20
          - toolset: clang
            compiler: clang++-6.0
            cxxstd: "11,14"
            stdlib: libc++
            container: ubuntu:18.04
            os: ubuntu-latest
            install: clang-6.0 libc++-dev libc++abi-dev libunwind-dev
          - toolset: clang
            compiler: clang++-7.0
            cxxstd: "11,14,17"
            stdlib: libc++
            container: ubuntu:20.04
            os: ubuntu-latest
          - toolset: clang
            compiler: clang++-12.0
            cxxstd: "11,14,17,20"
            stdlib: libc++
            container: ubuntu:20.04
            os: ubuntu-latest
          - toolset: intel-linux
            compiler: icpx
            cxxstd: "11,14,17,20,23,2c"
            container: intel/oneapi-hpckit:2025.2.2-0-devel-ubuntu24.04
            os: ubuntu-latest
          - toolset: clang
            cxxstd: "11,14,17,20,2b"
            os: macos-14

    runs-on: ${{matrix.os}}
    container:
      image: ${{matrix.container}}
      volumes:
        - /node20217:/node20217:rw,rshared
        - ${{ startsWith(matrix.container, 'ubuntu:1') && '/node20217:/__e/node20:ro,rshared' || ' ' }}

    defaults:
      run:
        shell: bash

    steps:
      - name: Setup container environment
        if: matrix.container
        run: |
          apt-get update
          apt-get -y install sudo python3 git g++ curl xz-utils
          if [[ "${{matrix.container}}" == "ubuntu:1"* ]]; then
            # Node 20 doesn't work with Ubuntu 16/18  glibc: https://github.com/actions/checkout/issues/1590
            curl -sL https://archives.boost.io/misc/node/node-v20.9.0-linux-x64-glibc-217.tar.xz | tar -xJ --strip-components 1 -C /node20217
          fi

      - uses: actions/checkout@v4

      - name: Install packages
        if: matrix.install
        run: |
          sudo apt-get update
          sudo apt-get -y install ${{matrix.install}}

      - name: Setup Boost dependencies
        run: |
          cd ..
          git clone -b boost-1.90.0 --depth 1 https://github.com/boostorg/boost.git boost-root
          cd boost-root
          git submodule update --init tools/build tools/boost_install libs/assert libs/config libs/core libs/throw_exception
          ./bootstrap.sh
          ./b2 -d0 headers

      - name: Create user-config.jam
        if: matrix.compiler
        run: |
          echo "using ${{matrix.toolset}} : : ${{matrix.compiler}} ;" > ~/user-config.jam

      - name: Run tests
        run: |
          export STDLIB=${{matrix.stdlib}}
          export ADDRMD=${{matrix.address-model}}
          export BOOST_ROOT="$(cd .. && pwd)/boost-root"
          ../boost-root/b2 -j3 test toolset=${{matrix.toolset}} cxxstd=${{matrix.cxxstd}} ${STDLIB:+stdlib=$STDLIB} ${ADDRMD:+address-model=$ADDRMD} variant=debug,release

  windows:
    strategy:
      fail-fast: false
      matrix:
        include:
          - toolset: msvc-14.3
            cxxstd: "14,17,20,latest"
            addrmd: 32,64
            os: windows-2022
          - toolset: clang-win
            cxxstd: "14,17,latest"
            addrmd: 32,64
            os: windows-2022
          - toolset: gcc
            cxxstd: "11,14,17,2a"
            addrmd: 64
            os: windows-2022

    runs-on: ${{matrix.os}}

    steps:
      - uses: actions/checkout@v4

      - name: Setup Boost dependencies
        shell: cmd
        run: |
          cd ..
          git clone -b boost-1.90.0 --depth 1 https://github.com/boostorg/boost.git boost-root
          cd boost-root
          git submodule update --init tools/build tools/boost_install libs/assert libs/config libs/core libs/throw_exception
          cmd /c bootstrap
          b2 -d0 headers

      - name: Run tests
        shell: bash
        run: |
          export ADDRMD=${{matrix.address-model}}
          export BOOST_ROOT="$(cd .. && pwd)/boost-root"
          ../boost-root/b2 -j3 test toolset=${{matrix.toolset}} cxxstd=${{matrix.cxxstd}} ${ADDRMD:+address-model=$ADDRMD} variant=debug,release
