on:
  pull_request:
  push:
    paths-ignore:
      - LICENSE
      - meta/**
      - README.md

jobs:
  call-boost-ci:
    with:
      branch_coverage: false
      enable_cmake: false
      enable_pr_coverage: false
    name: Run Boost.CI
    uses: boostorg/boost-ci/.github/workflows/reusable.yml@master
